.carousel {
    width: 100%;
    position: relative;
    flex-basis: 50%;
}

.carousel img {
    width: 100%;
    object-fit: cover;
    /* aspect-ratio: 4/3.5 */
    max-height: 20em;
}

.carousel button {
    background-color: white;
    border: none;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 1em);
    left: 5%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.carousel button:hover {
    cursor: pointer;
}

.carousel button:last-of-type {
    left: auto;
    right: 5%;
}

.carousel button img {
    margin: auto;
    width: 1em;
    height: 1em;
    /* margin-left: -0.1em; */
}

.carousel button:last-of-type img {
    margin-left: 0.1em;
}

.modal {
    position: relative;
    position: absolute;
    width: 600px;
    z-index: 2;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.previews {
    display: none;
}

.overlay {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-lightbox-background);
}

.hidden {
    display: none;
}

.close {
    position: absolute;
    top: -3em;
    right: 0;
}

.close:hover {
    cursor: pointer;
}

.close-container {
    position: relative;
}



@media(width>1000px) {
    .carousel {
        padding: 3em;
    }

    .carousel img {
        object-fit: contain;
        max-height: none;
        border-radius: 1em;
    }

    .carousel button {
        display: none;
    }

    .previews {
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
    }

    .previews img {
        width: 20%;
    }

    .selected {
        border: 2px solid var(--clr-orange);
    }
}