.price-component {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.price h3 {
    margin-block: auto;
    font-size: 2em;
}

.price span {
    background-color: var(--clr-pale-orange);
    color: var(--clr-orange);
    font-weight: 700;
    justify-self: flex-start;
    margin-right: auto;
    margin-left: 1em;
    padding-inline: 0.8em;
    border-radius: 0.3em;
    padding-block: 0.3em;
}

.price s {
    color: var(--clr-grayish-blue);
    font-weight: 700;
}

.count-controls {
    background-color: var(--clr-light-grayish-blue);
    padding: 1em;
    border-radius: 0.4em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count-controls em {
    font-style: normal;
    font-weight: 700;
}

.count-controls img {
    width: 0.8em;
}

.count-controls img:first-of-type {
    height: 0.3em;
}

button {
    background-color: var(--clr-orange);
    border: none;
    padding: 1.4em;
    border-radius: 0.5em;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    box-shadow: 0 2em 1em var(--clr-pale-orange);
}

.price-component button:hover {
    cursor: pointer;
}

.price-component button:img {
    filter: brightness(100%);
}

.price-component img:hover {
    cursor: pointer;
}

#cart path {
    fill: red;
}

@media(width>1000px) {
    .price-component {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .price {
        flex-basis: 100%;
        flex-flow: row wrap;
        margin-block: 2em;
    }

    .count-controls {
        flex-basis: 40%;
        margin-bottom: 0;
        padding: 1.3em;
    }

    button {
        flex-basis: 55%;
        padding: 1em;
    }

    s {
        flex-basis: 100%;
        display: block;
    }

}